<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        Morning Briefing
    </title>
    <!--Dark Mode meta tags needed to enable Dark Mode in email client user agents-->
    <meta name="color-scheme" content="light dark"> 
    <meta name="supported-color-schemes" content="light dark">
</head>

<body style="background-color: #4a4a4a; font-family: Lucida Sans, sans-serif; padding: 20px 0;">

    <h1 style="text-align: center; color: #0A3A1A;">Morning Briefing</h1>

    <h2 style="text-align: center; color: #6F000F; margin-top: -10px;">{date}</h2>
    
    <div style="max-width: 500px; margin: 0 auto;">
        <hr style="border: 0; border-top: 1px solid #DAA520; margin: 20px 0;">
    </div>

    <h2 style="text-align: center; color: #0A3A1A; margin: 10px 0 5px;">Weather</h2>
    
    <div style="max-width: 500px; margin: 0 auto; padding: 0 10px; text-align: left;">
        <p style="color: #ffffff; line-height: 1.4;">{forecast}</p>
    </div>

    <div style="max-width: 500px; margin: 0 auto;">
        <hr style="border: 0; border-top: 1px solid #DAA520; margin: 20px 0;">
    </div>

    <h2 style="text-align: center; color: #0A3A1A; margin: 10px 0 5px;">Wardrobe</h2>
    
    <div style="max-width: 500px; margin: 0 auto; padding: 0 10px; text-align: left;">
        <p style="color: #ffffff; line-height: 1.4;">{wardrobe}</p>
    </div>

    <div style="max-width: 500px; margin: 0 auto;">
        <hr style="border: 0; border-top: 1px solid #DAA520; margin: 20px 0;">
    </div>

    <h2 style="text-align: center; color: #0A3A1A; margin: 10px 0 5px;">News</h2>
    
    <div style="max-width: 500px; margin: 0 auto; padding: 0 10px; text-align: left;">
        <p style="color: #ffffff; line-height: 1.4;">{news}</p>
    </div>

    <div style="max-width: 500px; margin: 0 auto;">
        <hr style="border: 0; border-top: 1px solid #DAA520; margin: 20px 0;">
    </div>

    <h2 style="text-align: center; color: #0A3A1A; margin: 10px 0 5px;">CVEs</h2>

    <div style="max-width: 500px; margin: 0 auto; padding: 0 10px; text-align: left;">
        <p style="color: #ffffff; line-height: 1.4;">{cves}</p>
    </div>

    <footer style="text-align: center; padding: 20px 0; color: #cccccc; font-size:0.9em;">{timestamp}</footer>

</body>

</html>
