<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        Weekly Wardrobe Preview
    </title>
    <!--Dark Mode meta tags needed to enable Dark Mode in email client user agents-->
    <meta name="color-scheme" content="light dark"> 
    <meta name="supported-color-schemes" content="light dark">
</head>

<body style="background-color: #696969; font-family: Lucida Sans, sans-serif;">

    <hr style="border: 0; border-top: 2px solid #000000;">

    <h1 style="text-align: center; color: #064d00">Weekly Wardrobe Preview</h1>

    <h1 style="text-align: center; color: #860111">{date}</h1>

    <hr style="border: 0; border-top: 2px solid #000000;">

    <p style="text-align: center; color: #ffffff">{wardrobe}</p>

    <p style="text-align: center; color: #000000">{timestamp}</p>

</body>

</html>