<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        Weekly Wardrobe Preview
    </title>
    <!--Dark Mode meta tags needed to enable Dark Mode in email client user agents-->
    <meta name="color-scheme" content="light dark"> 
    <meta name="supported-color-schemes" content="light dark">
</head>

<body style="background-color: #4a4a4a; font-family: Lucida Sans, sans-serif;">

    <h1 style="text-align: center; color: #064d00;">Weekly Wardrobe Preview</h1>

    <h1 style="text-align: center; color: #6F000F;">{date}</h1>

    <div style="max-width: 500px; margin: 0 auto;">
        <hr style="border: 0; border-top: 1px solid #DAA520; margin: 20px 0;">
    </div>

    <div style="max-width: 500px; margin: 0 auto; text-align: left;">
        <p style="text-align: center; color: #ffffff;">{wardrobe}</p>
    </div>

    <footer style="text-align: center; padding: 20px 0; color: #cccccc; font-size:0.9em;">{timestamp}</footer>

</body>

</html>
